.logo
    a.navigaion-link(href="cover")
        img(src="" alt="Impression trip")

nav.nav#nav
    .nav__wrapper
        .nav__content
            button.nav__close

            span.nav__logo
                img(src="/img/logo.svg" alt="Impression trip")

            ul.nav__list
                li.nav__item.active
                    a.navigaion-link(href="about") About
                li.nav__item
                    a.navigaion-link(href="contatc") Contact
                li.nav__item
                    a.navigaion-link(href="concierge") Сoncierge
                li.nav__item
                    a.navigaion-link(href="services") Services

        ul.nav__langs
            li
                button ru
            li
                span /
            li
                button.active en