section.screens__section.screens__section_cover
    video(width='100%' height='100%' preload='auto' muted='' playsinline='' autoplay='autoplay' loop='loop')
        source(type='video/mp4' src='https://myweb.su/img/iStock-648032624.mp4')
        source(type='video/mov' src='https://myweb.su/img/iStock-648032624.mov')
        source(type='video/webm' src='https://myweb.su/img/iStock-648032624.webm')

    .screens__controller(data-target-id="about")
        span About